<launch>
  <!-- Launch GPS Satellite Signal Simulator Node -->
  <node name="RangingRC" pkg="ToySLAM" type="RangingRC" output="screen">
    <!-- Simulation parameters -->
    <param name="max_signal_distance" value="25000000.0"/>
    <param name="min_cn0_threshold" value="20.0"/>
    <param name="fixed_frame" value="map"/>
    <param name="debug_mode" value="true"/>
    <param name="slow_mode" value="true"/>
    <param name="show_multipath" value="true"/>
    <param name="signal_update_rate" value="1.0"/>
    <param name="signal_width" value="0.2"/>
    
    <!-- Road and environment parameters -->
    <param name="road_length" value="100.0"/>
    <param name="road_width" value="15.0"/>
    <param name="sidewalk_width" value="3.0"/>
    <param name="building_height_min" value="10.0"/>
    <param name="building_height_max" value="25.0"/>
    <param name="building_width_min" value="10.0"/>
    <param name="building_width_max" value="20.0"/>
    <param name="building_depth_min" value="8.0"/>
    <param name="building_depth_max" value="15.0"/>
    <param name="buildings_per_side" value="8.0"/>
    
    <!-- User movement parameters -->
    <param name="enable_user_movement" value="true"/>
    <param name="movement_type" value="circuit"/>
    <param name="movement_speed" value="0.5"/>
    <param name="movement_radius" value="6.0"/>
    <param name="movement_height" value="1.7"/>
    <param name="movement_period" value="60.0"/>
    
    <!-- Satellite motion parameters -->
    <param name="satellite_motion_rate" value="0.005"/>
    <param name="orbital_radius" value="500.0"/>
    <param name="simulation_scale" value="50000.0"/>
    
    <!-- GPS measurement simulation parameters -->
    <param name="pseudorange_base_noise" value="2.0"/>
    <param name="multipath_probability" value="0.4"/>
    <param name="signal_penetration_loss" value="30.0"/>
  </node>
  
  <!-- Launch RViz with configuration -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ToySLAM)/rviz/uwb_ray_tracer.rviz"/>
</launch>